<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <div (click)='click(node.id)' [ngClass]="{'playing' : playing && node.id === id}">{{node.name}}</div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>
<mat-toolbar class="sticky">
  <div class="gap control" (click)='volumeDown()'>-</div>
  <div class="gap" (click)='mute()' [ngClass]="{'disabled' : muted}"><i class="material-icons md-36">volume_off</i>
  </div>
  <div class="control" (click)='volumeUp()'>+</div>
</mat-toolbar>